{#{{ form_start(form) }}#}
{{ form_start(form) }}
<div class="form-group">
    {{ form_label(form.nom, "Nom", { 'label_attr': {'class': 'zmdi zmdi-account material-icons-na'} }) }}
    </br>
    </br>
    {{ form_widget(form.nom) }}
    {{ form_errors(form.nom) }}

</div>

<div class="form-group">
    {{ form_label(form.prenom, "Prenom", { 'label_attr': {'class': 'zmdi zmdi-account material-icons-na'} }) }}
    </br>
    </br>
    {{ form_widget(form.prenom) }}
    {{ form_errors(form.prenom) }}

</div>
<div class="form-group">
    {{ form_label(form.email, "Email", { 'label_attr': {'class': 'zmdi zmdi-email'} }) }}
    </br>
    </br>
    {{ form_widget(form.email) }}
    {{ form_errors(form.email) }}

</div>


<div class="form-group">
    {{ form_label(form.numTel, "Num Tel", { 'label_attr': {'class': 'zmdi zmdi-account material-icons-name'} }) }}
    </br>
    </br>
    {{ form_widget(form.numTel) }}
    {{ form_errors(form.numTel) }}

</div>
<div class="form-group">
    {{ form_label(form.password, "Mot de passe", { 'label_attr': {'class': 'zmdi zmdi-lock'} }) }}
    </br>
    </br>
    {{ form_widget(form.password, { 'attr': {'type': 'password'} }) }}
    {{ form_errors(form.password) }}

</div>





    <button class="form-group form-button">{{ button_label|default('Register') }}</button>




{{ form_end(form) }}




